nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin: 10px;
    display: inline-block;
    background-color: #eaccff;
    border-radius: 10px;
}

nav a:visited,
a:link {
    color: black;
}

nav a:hover {
    color: black;
    background-color: #ca80ff;
}

nav a.active {
    color: black;
}

.main
{
    padding-top: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1
{
    font-size: 6vh;
    color: indigo;
}

.mat-card
{
    max-width: 500px;
}

.mat-form-field
{
    width: 100%;
}

.main
{
    display: flex;
    justify-content: center;
    align-items: center;
}